name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        php: [ 8.4, 8.3, 8.2, 8.1, 8.0, 7.4 ]
        laravel: [ 12.*, 11.*, 10.*, 9.*, 8.*, 7.*, 6.* ]
        dependency-version: [ prefer-lowest, prefer-stable ]
        os: [ ubuntu-latest ]
        include:
          - laravel: 12.*
            testbench: 10.*
          - laravel: 11.*
            testbench: 9.*
          - laravel: 10.*
            testbench: 8.*
          - laravel: 9.*
            testbench: 7.*
          - laravel: 8.*
            testbench: 6.*
          - laravel: 7.*
            testbench: 5.*
          - laravel: 6.*
            testbench: 4.*
        exclude:
          # Laravel 6
          - php: 8.1
            laravel: 6.*
          - php: 8.2
            laravel: 6.*
          - php: 8.3
            laravel: 6.*
          - php: 8.4
            laravel: 6.*

          # Laravel 7
          - php: 8.1
            laravel: 7.*
          - php: 8.2
            laravel: 7.*
          - php: 8.3
            laravel: 7.*
          - php: 8.4
            laravel: 7.*

          # Laravel 8
          - php: 8.1
            laravel: 8.*
          - php: 8.2
            laravel: 8.*
          - php: 8.3
            laravel: 8.*
          - php: 8.4
            laravel: 8.*

          # Laravel 9
          - php: 7.4
            laravel: 9.*
          - php: 8.3
            laravel: 9.*
          - php: 8.4
            laravel: 9.*

          # Laravel 10
          - php: 7.4
            laravel: 10.*
          - php: 8.0
            laravel: 10.*

          # Laravel 11+
          - php: 7.4
            laravel: 11.*
          - php: 8.0
            laravel: 11.*
          - php: 8.1
            laravel: 11.*

          # Laravel 11 prefer-lowest (incompatible with PHP 8.2+)
          - php: 8.2
            laravel: 11.*
            dependency-version: prefer-lowest
          - php: 8.3
            laravel: 11.*
            dependency-version: prefer-lowest
          - php: 8.4
            laravel: 11.*
            dependency-version: prefer-lowest

          # Laravel 12+
          - php: 7.4
            laravel: 12.*
          - php: 8.0
            laravel: 12.*
          - php: 8.1
            laravel: 12.*

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit
